

<div class="row margin-form">
    <div class="col-6 mx-auto">
        <form action="/bike" method="POST">
            <div class="mb-3">
                <label for="Company" class="form-label">Company: </label>
                <input type="text" class="form-control" name="Company" id="Company" placeholder="Name of Company">
            </div>
            <div class="mb-3">
                <label for="paisa" class="form-label">Price: </label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Rs. </span>
                    <input class="form-control" type="number" name="price" id="paisa" placeholder="Price of Product">
                </div>
            </div>
        
            <div class="mb-3">
                <label for="Mileage" class="form-label">Mileage: </label>
                <input class="form-control" type="number" name="Mileage" id="Mileage" placeholder="Mileage">
            </div>
            <div class="mb-3">
                <label for="Power" class="form-label">Power: </label>
                <input class="form-control" type="text" name="Power" id="Power" placeholder="Power">
            </div>
            <button type="submit" class="btn btn-sm btn-success">Add</button>
        </form>
    </div>
</div>