<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/formStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="main">

        <form method="post" action="/mobile-phone/new/completed">
            <label for="brand">brand</label>
            <input type="text" name="brand" placeholder="brand" required="true">
            <label for="model">model</label>
            <input type="text" name="model" placeholder="enter model">
            <label for="operatingsystem">operatingsystem</label>
            <input type="text" name="operatingsystem" placeholder="operatingsystem">
            <label for="capacity">capacity</label>
            <input type="number" name="capacity" placeholder="capacity">
            <label for="releasedate">releasedate</label>
            <input type="number" name="releasedate" placeholder="releasedate">
            <button>submit</button>

        </form>


    </div>


</body>
</html>